body{
color: deeppink;
background: deepskyblue;
}
header{
border-bottom:solid 2px rgb(rgb(143, 11, 125);
padding: 20px;
font-size: 32px;
color: aquamarine;
background: blue;
}
.chamada{
background: cadetblue;
padding-top: 100px;
padding-bottom: 100px;
display:flex ;
justify-content: center;
}